@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Raleway&display=swap');
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lobster', cursive;

body{
    font-family: 'Raleway', sans-serif;
}
.container-fluid{
    padding: 0;
    margin: 0;
}

.nav li a:hover,
.navbar-default{
    background: transparent;
}

.navbar-default{
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background-color: rgba(17,17,17,.5);
}

.navbar-default .navbar-nav>li>a{
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;

}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
    color: #f8512f;
    background-color: rgba(17,17,17,.2);
}

nav.navbar{
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-brand> img{
    margin-top: -16px;
    height: 50px;
}

.carousel-inner .item{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

.main-img1{
    background-image: url('../img/black_linen.png');
}
.main-img2{
    background-image: url('../img/intro_3.png');
}
.main-img3{
    background-image: url('../img/FCREW_2.png');
}


.main_logo{
    max-height: 300px;
}

.btn-primary{
    color: #fff;
    background-color: #f8512f;
    border-color: transparent;
}

.btn-primary:hover{
    background-color:#d34326;
    border-color: transparent;
}

.vcen{
    height: 10rem;
    display: inline-block;
    vertical-align: middle;
}

#fatgum{
    background-color: #EDCE64;
}

#fatgum h1{
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #B7662E;
    text-shadow: 1px 1px 5px #0a0a0a ;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.anxiety img{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
#suneater{
    background-color:#313158;
    color:#fff;
}
#suneater h1{
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #AB9E63;
    text-shadow: 1px 1px 5px #0a0a0a ;
}
#red_riot{
    background-color: #CB2C30;
    color: #fff;
}
#red_riot h1{
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #282A2C;
    text-shadow: 1px 1px 5px #0a0a0a ;
}
.contact_form{
    background-color:#ff6633;
    border: 1px solid;
}

.contact_form form{
    padding: 5% 0;

}

.contact_form area{
    color:#ff0d06;
}

#weeb_info{
    background-color: #f8512f;
    color:#fff;
}

#weeb_info h1{
    font-weight: 700;
    font-size: 4rem;

}

#contact_fine_print{
    font-size: 0.825rem !important;
    text-align: center;
}

#weeb_info p{
    font-weight: 300;
    font-size: 1.5rem;
}

.contact_bottom{
    margin-top: 50px;
    margin-bottom: 25px;
}

address{
    font-weight: 300;
}

@media(max-width:768px){
    .story_year{
        font-size: 150px;
    }
}
.required::after{
    content:'*';
    color:red;
    font-size: 2rem;
}
